.body {
    background-color: #f5f5f5;
}

.image-source {
    font-size: 13px;
    text-align: right;
}

.main-title {
    height: 70px;
}

.sub-title {
    font-weight: bold;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 60px;
    text-align: center;
    color: #555257;
    height: 100px;
    line-height: 100px;
    margin: 0px auto;
    background-color: #f5f5f5;
}

.sub-title-description {
    font-weight: bold;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 30px;
    text-align: center;
    color: #555257;
    height: 20px;
    line-height: 20px;
    margin: 0px auto;
    background-color: #f5f5f5;
}

.sub-description {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    text-align: center;
    color: #646266;
    height: 100px;
    line-height: 100px;
    margin: 50px auto 0px auto;
    background-color: #f5f5f5;
}

.special-notes {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    text-align: center;
    color: #646266;
    height: 50px;
    line-height: 0px;
    margin: 0px auto;
    background-color: #f5f5f5;
}

.file-upload {
    background-color: #f5f5f5;
    margin: 0px auto;
}

.file-upload-content {
    display: none;
    text-align: center;
    background-color: #f5f5f5;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

#loading {
  display: none;
}

.file-upload-input {
    position: absolute;
    margin: 0px auto;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    width: 400px;
    height: 200px;
    line-height: 500px;
    border: 7px solid #000000;
    position: relative;
    background-color: #000000;
    margin: 0px auto 10px auto;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #5f6266;
    border: 4px solid #f5f5f5;
}

.image-title-wrap {
    margin: 0px auto;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    text-align: center;
    color: #ffffff;
    padding: 50px 0;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 30px;
}

.file-upload-image {
    max-height: 300px;
    max-width: 300px;
    margin: 0px auto;
    padding: 20px;
}

#result-image {
    max-height: 300px;
    max-width: 300px;
    margin: 0px auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 10px auto;
    color: #fff;
    background: #7a7e82;
    border: none;
    padding: 10px;
    border-bottom: 4px solid #f5f5f5;
    transition: all 0.2s ease;
    outline: none;
    font-size: 15px;
}

.remove-image:hover {
    background: #000000;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all 0.2s ease;
}

.result-Message-One {
    font-weight: bold;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 30px;
    text-align: center;
    color: #e31754;
    line-height: 50px;
    margin: 0px auto;
}

.result-Message-Two {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 11px;
    text-align: center;
    color: #0b206e;
    margin: 0px auto;
    opacity: 50%;
}

#label-container {
    width: 80%;
    margin: 0px auto;
}

.one-similar,
.two-similar,
.three-similar {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #0b206e;
    margin: 4px auto;
}

.more-detail {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 15px;
    text-align: center;
    color: #f59ab7;
    margin: 0px auto;
    text-decoration: underline;
}

.coupang-banner {
    margin: 0px auto;
    background-color: #f5f5f5;
}

.kakao-banner, .clickmon-banner {
    margin: 0px auto;
    width: 320px;
}

.share-comment {
    font-weight: 50px;
    font-family: "Nanum Gothic", sans-serif;
    text-align: center;
    margin: 0px auto;
}

#disqus_thread {
    background-color: #f5f5f5;
}

.coupang-banner-one {
    margin: 0px 811.82px 0px 311.82px;
}

.coupang-banner-two {
    margin: 0px 711.82px 0px 411.82px;
}

.coupang-banner-three {
    margin: 0px 611.82px 0px 511.82px;
}

.coupang-banner-four {
    margin: 0px 511.82px 0px 611.82px;
}

.coupang-banner-five {
    margin: 0px 411.82px 0px 711.82px;
}

.coupang-banner-six {
    margin: 0px 311.82px 0px 811.82px;
}