#title {
    margin: 0px auto;
    width: 100%;
    height: 250px;     
    background-image: url('https://cdn.dribbble.com/users/15891/screenshots/7294180/image_1x.png');
    background-size: 400px 250px;
    font-weight: bold;
    font-family: sans-serif;
	font-size: 10px;
    color: #ffffff;
}

.image-source {
    font-size: 13px;
    text-align: right;
}

.sub-title {
    font-weight: bold;
    font-family: sans-serif;
	font-size: 30px;
    text-align: center;
    color: #0b206e;
    height: 50px;
    line-height: 50px;
    margin: 10px auto;
}

body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 0px 50px 10px 50px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #0b206e;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #0b206e;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
    font-family: sans-serif;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #e31754;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
    border-bottom: 4px solid #e31754;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
    background-color: #f7f7e4;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #0b206e;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #e31754;
  border: 4px dashed #ffffff;
    
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  color: #0b206e;
  padding: 60px 0;
    font-family: sans-serif;
}

.special-notes {
  font-weight: bold;
  color: #e31754;
    font-family: sans-serif;
    margin: 15px auto;
}

.file-upload-image {
  max-height: 300px;
  max-width: 300px;
  margin: auto;
  padding: 20px;
}

#result-image {
    max-height: 300px;
  max-width: 300px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 10px auto;
  color: #fff;
  background: #e31754;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #e31754;
  transition: all .2s ease;
  outline: none;
  font-size: 15px;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.result-Message-One {
    font-weight: bold;
    font-family: sans-serif;
	font-size: 30px;
    text-align: center;
    color: #e31754;
    line-height: 50px;
    margin: 0px auto;
}

.result-Message-Two {
    font-family: sans-serif;
	font-size: 11px;
    text-align: center;
    color: #0b206e;
    margin: 0px auto;
    opacity: 50%;
}

#label-container {
    width: 80%;
    margin: 0 auto;
}

.one-similar, .two-similar, .three-similar {
    font-family: sans-serif;
    font-weight: bold;
	font-size: 18px;
    color: #0b206e;
    margin: 4px auto;
}

.more-detail {
    font-family: sans-serif;
	font-size: 15px;
    text-align: center;
    color: #f59ab7;
    margin: 0px auto;
    text-decoration: underline;
}

.clickmon-banner, .kakao-banner, .coupang-banner {
    margin: 10px 0px 10px 130px;
}

.share-comment {
    font-weight: 50px;
    font-family: sans-serif;
    text-align: center;
    margin: 0px auto;
}

